*body{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

/****************************** SMALL DEVICES VIEW  *********************************************** */
.recipes-view-bg-container{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}
/* Content Container */
.recipes-view-content-container{
    background: linear-gradient(to right, #f7ec97, #d9a24a);
    min-height:100vh;
    width:100%;
    margin-top:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
/* <<<<<<<  EMPTY* RECIPES LIST SECTION >>>>>>>>>  */
.empty-recipes-bg-container{
  min-height:400px;
  width:95%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.empty-recipe-list-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#3f1704;
    margin:0;
}

/* <<<<<<<<<  RECIPES LIST SECTION >>>>>>>>>>>  */
.recipes-list-section-container{
    min-height:500px;
    width:95%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:none;
    border-radius:10px;
    box-shadow:4px, #252701d4;
}

/* SEARCH HEADER CONTENT  */
.recipes-header-and-search-container{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin-top:15px;
    margin-bottom:12px;
}
.recipes-list-header{ 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
}
/* Search Content >> */
.search-icon-input-container{
    height:40px;
    width:80%;
    background-color:#f8f1a6; /*  #f8f2a8; */
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:2px 2px;
    border:none;
    border-radius:6px;
}
.search-input{
    background-color:transparent;
    height:40px;
    width:90%;
    border:none;
    padding-left:10px;
    outline:none;
    border-radius:4px;
}
.search-icon{
    height:18px;
    width:18px;
}

hr{
    width:99%;
    margin:0;
    padding:0;
    border-color:yellow;
}
/*  <<<<<<<<<<< ORDER LIST CONTENT >>>>>>>>>>>>  */
.recipes-list-container{
    list-style-type:decimal;
    height:450px;
    width:96%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:30px;
    margin-bottom:10px;
    padding-top:20px;
    padding-left:10px;
    padding-right:20px;
    padding-bottom:40px;
    border:none;
    border-radius:5px;
    overflow-x: auto;

}
/*  When You select for deleting this div is activate */
.recipes-list-items-container_for_select_deleting{
    height:70px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-left:6px;
    background-color:#ffffff5b;
    padding-left:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.125), 0 6px 16px 0 rgba(0, 0, 0, 0.293);
    border: none;
    border-radius:10px;
    opacity:40%;
}
/* li>>> */
.recipes-list-items-container{
    list-style-type:decimal;
    margin-bottom:20px;
    margin-left:30px;
    height:65px;
    width:80%;
}
/*  div container it in <li> */
.recipes-list-items-div-container{
    height:65px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-left:5px;
    background-color:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.125), 0 6px 16px 0 rgba(0, 0, 0, 0.293);
    border: none;
    border-radius:8px;
    padding:5px 15px;

}
/*  Link >> */
.link-to-view{
    text-decoration: none;
}
/*  Recipe Name in card */
.racipes-items-name{
    color:#252701;
    font-size:15px;
    font-weight:500;
    margin:0;
    margin-bottom:4px;
}
/*  detailed View Button in card */
.recipe-item-dtl-view-button{
    height:20px;
    width:80px;
    font-size:8px;
    border-radius:4px;
    border:none;
    background-color: #ffd20c;
    color:#252701;
    cursor: pointer;
    transition: box-shadow 0.3 ease;
}
.recipe-item-dtl-view-button:hover{
box-shadow: 0 2px 8px 0 rgba(246, 210, 3, 0.511), 0 6px 16px 0 rgba(253, 232, 43, 0.522);

}
/*  delete recipe Button in card */
.delete-recipe-item-button{
    border:none;
    background-color:transparent;
    cursor: pointer;
    margin-right:5px;
}

.delete-icon{
    height:18px;
    width:18px;
    opacity:60%;
    transition:color 0.3 ease;
}

.delete-icon:hover {
    color:red;
    opacity:80%;
} 

/*  <<<<<<<<< RECIPES-ADDING/FORM-CONTENT  >>>>>>>>>>    */
.recipes-adding-container{
    min-height:90vh;
    width:90%;
    height:100px;
    background-color: #f7e285;
    border:none;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:10px;

}
/* Add recipes content - Heading */
.add-recipe-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    color:#440202;
    font-weight:bold;
}
/* FORM CONTAINER  */
.recipe-add-form-container{
    width:90%;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
.new-recipes-labels{
    font-size:14px;
    font-weight:500;
    margin-bottom:10px;
}
/* New Recipe Name for adding */
.new-recipe-name-input{
    height:25px;
    width:95%;
    border:none;
    border-radius:4px;
    margin-bottom:20px;
    padding:10px;
    outline:none;
    font-family:Arial;
    font-size:12px;
    line-height:22px;
}
/* Ingredients */
.new-recipe-ingredients{
    font-size:16px;
    font-weight:500;
}

.new-recipe-ingredients-textarea{
    width:95%;
    border:none;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:20px;
    padding-top:12px;
    padding-left:12px;
    padding-right:8px;
    outline:none;
    font-family:Arial;
    font-size:12px;
    line-height:24px;
}
/* Preparation Steps via textarea */
.new-recipe-steps-textarea{
    width:95%;
    border:none;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:20px;
    padding-top:12px;
    padding-left:12px;
    padding-right:8px;
    outline:none;
    font-family:Arial;
    font-size:12px;
    line-height:24px;
}
/* dish image Url Style */
.new-recipes-img-url{
    height:25px;
    width:95%;
    border:none;
    border-radius:5px;
    margin-bottom:25px;
    padding:10px;
    outline:none;
    font-family:Arial;
    font-size:12px;
    line-height:24px;

}
/*  ADD BUTTON */
.add-new-recipe-button{
    height:35px;
    width:75px;
    background-color: #461a1adb;
    color:#ffffff;
    font-size:14px;
    font-weight:500;
    border:none;
    border-radius:4px;
    cursor: pointer;
    outline:none;
    transition: background-color 0.3 ease;
}
.add-new-recipe-button:hover{
    background-color: #3b0202;
}
/* Submit Form Button Style */
.new-recipe-submit-button{
    height:30px;
    width:100%;
    border:none;
    border-radius:6px;
    background-image:linear-gradient( to bottom,#fdbf04, #b9640e);
    color:#1b0221d2;
    padding:20px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
    margin-top:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.new-recipe-submit-button:hover{
    background-image:linear-gradient( to bottom,#ffaa00, #ab5702);
}


/* DELETE CONFORM POPUP CONTENT  */
.delete-confirm-popup-container{
    position:fixed;
    top:50%;
    left:50%;
    z-index:1000;
    transform: translate(-50%, -50%);
    height:200px;
    width:80%;
    padding:10px 10px;
    border:none;
    background-color:#ffffff;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    text-align:center;
    box-shadow:  2px 0 14px 6px #0000007f;
    transition: box-shadow 0.3s ease;
    
}
.deleting-item-name{
    font-size:10px;
    margin:0;
    margin-bottom:30px;
}

.delete-confirm-question{
    font-size:15px;
}

.delete-yes-no-btn-div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
/* Delete Confirmation Button - YES */
.delete-confirm-yes-button{
    height:30px;
    width:72px;
    border:none;
    border-radius:4px;
    background-color:#ac2909cc;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    margin-bottom:10px;  
    cursor: pointer;
    transition: box-shadow 0.3 ease;
}
.delete-confirm-yes-button:hover{
 box-shadow: 0 2px 6px 0 rgba(246, 4, 4, 0.301), 0 6px 16px 0 rgba(236, 4, 4, 0.181);
}
/* Delete Confirmation Button - NO */
.delete-confirm-no-button{
    height:30px;
    width:72px;
    border:none;
    border-radius:4px;
    background-color:#23136ade;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    margin-left:25px;
    margin-bottom:10px;
    cursor: pointer;
    transition:box-shadow 0.3 ease;
}
.delete-confirm-no-button:hover{
 box-shadow: 0 2px 6px 0 rgba(78, 5, 213, 0.274), 0 6px 16px 0 rgba(23, 6, 136, 0.312);
}



/* ********************  MEDIUM/LARGE DEVICES  ************************************************************************   */
@media  screen and (min-width:760px) {
    .recipes-view-bg-container{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}
.recipes-view-content-container{
background: linear-gradient(to right, #f7ec97, #d9a24a);
    min-height:100vh;
    width:100%;
    margin-top:100px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}
/* <<<<<<<<<  RECIPES LIST SECTION >>>>>>>>>>>  */
.empty-recipes-bg-container{
min-height:600px;
width:55%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}
/* <<<<<<<<<  RECIPES LIST SECTION >>>>>>>>>>>  */
.recipes-list-section-container{
    min-height:500px;
    width:55%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:none;
    border-radius:10px;
    box-shadow:5px, #252701;
 
}

/* SEARCH HEADER CONTENT  */
.recipes-header-and-search-container{
    width:96%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin-top:15px;
    margin-bottom:15px;
}
.recipes-list-header{
    font-size:24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#440202;

}
/* Search Content >> */
.search-icon-input-container{
    height:42px;
    width:60%;
    background-color:#f8f1a6; /*  #f8f2a8; */
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding-left:2px;
    padding-right:1px;
    padding-top:2px;
    padding-bottom:2px;
    border:none;
    border-radius:8px;

}
.search-input{
    background-color:transparent;
    height:40px;
    width:90%;
    border:none;
    padding-left:10px;
    outline:none;
    border-radius:5px;
}
.search-icon{
    height:26px;
    width:26px;
}

hr{
    width:99%;
    margin:0;
    padding:0;
    border-color:yellow;
}
/*  <<<<<<<<<<< LIST CONTENT >>>>>>>>>>>>  */
.recipes-list-container{
    list-style-type:decimal;
    height:600px;
    width:90%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    padding-top:30px;
    padding-bottom:20px;
    border:none;
    border-radius:5px;
    overflow-x: auto;

}
/* if you select for deleting this style apply for the respective div >> */
.recipes-list-items-container_for_select_deleting{
    height:85px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-left:6px;
    background-color:#ffffff5b;
    padding-left:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.125), 0 6px 16px 0 rgba(0, 0, 0, 0.293);
    border: none;
    border-radius:10px;
    opacity:40%;


}
/* li>>> */
.recipes-list-items-container{
    list-style-type:decimal;
    margin-bottom:35px;
    margin-left:10px;
    height:70px;
    width:85%;
}
/* div in li */
.recipes-list-items-div-container{
    height:85px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-left:6px;
    background-color:#ffffff;
    padding-left:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.125), 0 6px 16px 0 rgba(0, 0, 0, 0.293);
    border-radius:10px;

}
/* Link  */
.link-to-view{
    text-decoration: none;
}
.racipes-items-name{
    color:#252701;
    font-size:16px;
    font-weight:500;
    margin:0;
    margin-bottom:6px;
}
/* Recipe Detailed View Button  */
.recipe-item-dtl-view-button{
    height:22px;
    width:88px;
    font-size:9px;
    border-radius:4px;
    border:none;
    background-color: #ffd20c;
    color:#252701;
    cursor: pointer;
    transition: box-shadow 0.3 ease;
}
.recipe-item-dtl-view-button:hover{
box-shadow: 0 2px 8px 0 rgba(246, 210, 3, 0.511), 0 6px 16px 0 rgba(245, 221, 5, 0.522);

}

/* Recipe Detailed View Button  */
.delete-recipe-item-button{
    border:none;
    background-color:transparent;
    cursor: pointer;
    margin-right:20px;
}
/* delete Icon */
.delete-icon{
    height:20px;
    width:20px;
    opacity:60%;
    transition:color 0.3 ease;
}

.delete-icon:hover {
    color:red;
    opacity:80%;
} 

/*  <<<<<<<<<<< RECIPES-ADDING-CONTENT  >>>>>>>>>>>>    */
.recipes-adding-container{
    min-height:100vh;
    width:40%;
    height:100px;
    background-color: #f7e285;
    border:none;
    border-radius:10px;
    margin-left:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:10px;

}
.add-recipe-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    color:#440202;
    font-weight:bold;
}
/* FORM CONTAINER  */
.recipe-add-form-container{
    width:90%;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
/* Adding new Recipe Name  */
.new-recipes-labels{
    font-size:18px;
    font-weight:500;
    margin-bottom:10px;
}
.new-recipe-name-input{
    height:30px;
    width:95%;
    border:none;
    border-radius:5px;
    margin-bottom:25px;
    padding:10px;
    outline:none;
    font-family:Arial;
    font-size:14px;
    line-height:24px;
}
/* Adding new Recipe Ingredients */
.new-recipe-ingredients{
    font-size:18px;
    font-weight:500;
}
.new-recipe-ingredients-textarea{
    width:95%;
    border:none;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:20px;
    padding-top:15px;
    padding-left:15px;
    outline:none;
    font-family:Arial;
    font-size:15px;
    line-height:24px;
}
/* Adding new Recipe Preparation Steps */
.new-recipe-steps-textarea{
    width:95%;
    border:none;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:20px;
    padding:10px;
    padding-top:15px;
    padding-left:15px;
    outline:none;
    font-family:Arial;
    font-size:15px;
    line-height:24px;
}
/* Your Dish Image Style  */
.new-recipes-img-url{
    height:30px;
    width:95%;
    border:none;
    border-radius:5px;
    margin-bottom:25px;
    padding:10px;
    outline:none;
    font-family:Arial;
    font-size:14px;
    line-height:24px;

}
/*  ADD BUTTON */
.add-new-recipe-button{
    height:40px;
    width:80px;
    background-color: #461a1adb;
    color:#ffffff;
    font-weight:500;
    border:none;
    border-radius:4px;
    cursor: pointer;
    outline:none;
    transition: background-color 0.3 ease;
}
.add-new-recipe-button:hover{
    background-color: #3b0202;
}
/* Form Submit Button  */
.new-recipe-submit-button{
    height:40px;
    width:100%;
    border:none;
    border-radius:6px;
    background-image:linear-gradient( to bottom,#fdbf04, #b9640e);
    color:#1b0221d2;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
    margin-top:15px;
}
/* DELETE CONFORM POPUP CONTENT  */
.delete-confirm-popup-container{
    position:fixed;
    top:45%;
    left:50%;
    z-index:1000;
    transform: translate(-50%, -50%);
    height: 350px;
    width:60%;
    padding:20px 20px;

    border:none;
    background-color:#ffffff;
    box-shadow:  2px 0 14px 6px #0000007f;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    text-align:center;
    transition: box-shadow 0.3s ease;
}
.deleting-item-name{
    font-size:12px;
    margin:0;
    margin-bottom:30px;
}
/* delete confirm Question - text */
.delete-confirm-question{
    font-size:18px;
}
.delete-yes-no-btn-div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
/* delete confirmation Button -YES */
.delete-confirm-yes-button{
    height:30px;
    width:74px;
    border:none;
    border-radius:4px;
    background-color:#ac2909cc;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    margin-bottom:10px;  
    cursor: pointer;
    transition: box-shadow 0.3 ease;
}
.delete-confirm-yes-button:hover{
 box-shadow: 0 2px 8px 0 rgba(246, 4, 4, 0.503), 0 6px 16px 0 rgba(236, 4, 4, 0.503);
}
/* delete confirmation Button - NO */
.delete-confirm-no-button{
    height:30px;
    width:74px;
    border:none;
    border-radius:4px;
    background-color:#23136ade;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    margin-left:25px;
    margin-bottom:10px;
    cursor: pointer;
    transition:box-shadow 0.3 ease;
}
.delete-confirm-no-button:hover{
 box-shadow: 0 2px 8px 0 rgba(78, 5, 213, 0.503), 0 6px 16px 0 rgba(24, 6, 136, 0.503);
}

}