/****************************** SMALL DEVICES VIEW  *********************************************** */
.header-navbar-container{
    height:90px;
    width:100%;
    background: linear-gradient(to left, #fefcea,#edbc28, #9d6306);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    /* Navbar fixing on top */
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    
}
.nav-website-logo-button{
    border:none;
    background-color:transparent;
    outline:none;
    cursor: pointer;
    height:60px;
    width:60px;
    margin-left:25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.nav-webiste-img{
  height:60px;
  width:60px;
  margin:0;
}
.header-text{
  color:#080800;
  font-size:20px;
  margin-right:50px;
}


/****************************** MEDIUM/LARGE DEVICES VIEW  *********************************************** */
@media screen and (min-width:760px){
.header-navbar-container{
    height:100px;
    width:100%;
    background: linear-gradient(to left, #fefcea,#edbc28, #9d6306);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    /* Navbar fixing on top */
    position:fixed;
    top:0;
    left:0;
    
}
.nav-website-logo-button{
    border:none;
    background-color:transparent;
    outline:none;
    cursor: pointer;
    height:90px;
    width:90px;
    margin-left:50px;
}
.nav-webiste-img{
  height:94px;
  width:95px;
  border-radius:40px;
  margin:0;
}
.header-text{
  color:#080800;
  font-size:30px;
  margin-right:50px;
}

}
